.clippy
  width 100%
  height 100%
  position fixed
  right 0
  bottom 0
  pointer-events: none

  &-character
    position absolute
    bottom -40px
    right 5%
    transform translate(0, 0) scale(2)
    pointer-events all
    .body
      transform translate(0, 0)
      transition transform 300ms

    &.hiding
      .body
        transform translate(0, 20px)
        transition 300ms

      &:hover
        .body
          transform translate(0, 12px)
          transition 300ms

  &-info
    display flex
    justify-content: center
    align-items: center
    position absolute
    width 100%
    height 100%

  .info-container
    // width 360px
    // height 550px
    background-color: $light-purple
    display flex
    padding 1rem
    //justify-content center
    align-items flex-start
    flex-direction column
    width 75%
    max-height 65%
    // top 0
    // left 0
    // transform translate(50%, 50%)
    // background-color: $light-purple
    border 5px solid $mid-purple
    border-radius 10px
    transition 300ms ease
    opacity 0
    visibility hidden

    &:after
      content: '';
      position: absolute;
      bottom: 0;
      left: 75%;
      width: 0;
      height: 0;
      border: 50px solid transparent;
      border-top-color: $mid-purple;
      border-bottom: 0;
      border-right: 0;
      margin-left: -10px;
      margin-bottom: -50px;

    &.active
      visibility: visible;
      opacity 1
      transition 300ms ease
      pointer-events: all

    .close-info
      //color $white
      height 30px
      width 30px
      background-color: $mid-purple
      border: 2px solid $gray-darkest
      align-self flex-end
      border-radius 50%
      position absolute
      display flex
      align-items: center;
      justify-content: center
      transition 300ms ease
      pointer-events: all
      cursor pointer

      svg
        transform scale(0.8)
        color $white

      &:hover
        background-color $secondary
        transition 300ms ease

    .info-title
      text-transform: capitalize;
      font-family: Canela, serif
      set-type-size('x-large', true)

    .info-def
      font-family: Atlas Grotesk, sans-serif
      set-type-size('small', true)
      margin-bottom 0.25rem

    .info-sub
      font-family: Atlas Grotesk, sans-serif
      font-weight 600
      margin-bottom 0

    .info-prose
      font-family Atlas Grotesk, sans-serif
      margin-top 0.25rem
      set-type-size('small', true)

    .link-p
      font-family Atlas Grotesk, sans-serif
      text-transform uppercase
      background-color $mid-purple
      width 130px
      text-align center
      padding-top 0.1rem
      font-weight 600
      color $white
      border-radius 5px
      margin 0 auto

      &:hover
        background-color $secondary
        transition 300ms ease



  &-dim
    width 100%
    height 100%
    background-color: $white
    opacity 0
    position fixed

    &.active
      opacity 0.6

  &-speech
    width 150px
    height 150px
    position absolute
    background-color: $secondary
    border-radius .4em
    bottom 100px
    right 1.5%
    visibility hidden

    &.active
      visibility visible

    &:after
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 0;
      border: 20px solid transparent;
      border-top-color: $secondary;
      border-bottom: 0;
      margin-left: -20px;
      margin-bottom: -20px;
