.ever_used
  .graphic
    display flex
    flex-direction column
    max-width $column-width
    //margin 0 auto

  .container
    display flex
    flex-wrap wrap
    justify-content: space-between;

    .chart
      display flex
      flex-direction column
      align-items: center
      margin 0.5rem 0rem
      width 130px
      transition 300ms
      padding 0.5rem

      &:hover
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
        transition 300ms
      // +mq('bp-4')
      //   margin 1rem

      .title
        text-align center
        set-type-size('small', true)
        font-weight 600
        text-transform capitalize

      .sub
        set-type-size('x-small', true)


      .blocks
        width 70px
        height 70px
        display flex
        flex-wrap wrap-reverse

        .data-block
          width 5px
          height 5px
          margin 1px
          &-true
            background-color $primary
          &-false
            background-color $gray-lightest

.firstTime
  max-width $column-width
  margin 0 auto 4rem auto

  &-split
    display flex
    flex-direction column
    align-items: center
    +mq('bp-6')
      flex-direction row
      align-items: center;
      justify-content: space-between;

      .graphic-half
        flex-grow 1.25

  &-text
    padding 0 2.5rem 0 0

  .graphic-half

    .firstTime-chart

      .graphic-title
        padding-left 0 !important

      .g-vis
        .line
          fill none
          stroke $gray-light
          stroke-width 2px
          stroke-opacity 0.3

          &-3
            stroke $primary
            stroke-opacity 1

          &-4
            stroke $secondary
            stroke-opacity 1

          &-8
            stroke $tertiary
            stroke-opacity 1

        .label
          font-family Atlas Grotesk Web, sans-serif
          set-type-size('x-small', true)
          text-transform uppercase
          font-weight 600

          &-3
            fill $primary
          &-4
            fill $secondary
          &-8
            fill $tertiary

      .g-axis
        .axis
          .domain
            display none

          &-x
            .tick
              text
                set-type-size('xx-small', true)
                font-family Atlas Grotesk Web, sans-serif

          &-y
            .tick
              text
                font-weight 600
                set-type-size('xx-small', true)
                font-family Atlas Grotesk Web, sans-serif

              &:first-of-type
                text
                  display none

          .tick
            line
              stroke $gray-lightest
              stroke-width 1px
              stroke-dasharray 5px 5px

.overTime
  max-width $column-width
  margin 0 auto

  .container-over_time
    justify-content: flex-start;

    .chart
      width 170px
      height 125px
      margin 1rem
      transition 300ms
      padding 0.5rem

      &:hover
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
        transition 300ms

      .title
        font-family Atlas Grotesk Web, sans-serif
        margin-bottom 0.5rem

      .g-axis
        .domain
          display none
        .tick
          line
            stroke $gray-lightest
            stroke-width 1px
            stroke-dasharray 5px 5px
          text
            fill $gray-dark

          &:first-of-type
            text
              display none

        .axis-x
          text
            set-type-size('x-small', true)
            font-family Atlas Grotesk Web, sans-serif
            text-transform uppercase
            fill $gray


      .g-vis
        .area
          fill $primary
          opacity 0.5

        .line
          fill none
          stroke-width 2px
          stroke $primary
