.ever_used
  .graphic
    display flex
    flex-direction column
    max-width $column-width
    margin 0 auto

  .container
    display flex
    flex-wrap wrap
    justify-content: space-between;

    .chart
      display flex
      flex-direction column
      align-items: center
      margin 0.5rem 0rem
      width 120px
      // +mq('bp-4')
      //   margin 1rem

      .title
        text-align center
        set-type-size('small', true)
        font-weight 600
        text-transform capitalize

      .sub
        set-type-size('x-small', true)


      .blocks
        width 70px
        height 70px
        display flex
        flex-wrap wrap-reverse

        .data-block
          width 5px
          height 5px
          margin 1px
          &-true
            background-color $primary
          &-false
            background-color $gray-lightest

.firstTime
  display flex
  flex-direction row
  max-width $column-width
  margin 0 auto

  .firstTime-chart

    .g-vis
      .line
        fill none
        stroke $gray-light
        stroke-width 2px
        stroke-opacity 0.3

        &-3
          stroke red !important
          stroke-opacity 1
