.methods
  background-color $light-purple
  margin 0

  .text-content
    max-width $column-width
    margin 0 auto
    padding 1rem 0

  .prose-methods
    set-type-size('small', true)
    font-family Atlas Grotesk Web, sans-serif

    span
      font-weight 600
      text-transform uppercase
