.multiple_methods
  max-width $column-width
  margin 0 auto

  .multipleMethods-chart

    .g-vis

      .g-bar

        .g-label

          .label-text
            fill $white

          .label-text-plus
            fill $off-black !important
            visibility: visible;

          &.narrow

            .label-text-plus
              visibility hidden
