.multiple_methods
  max-width $column-width
  margin 0 auto

  .multipleMethods-chart

    .g-vis

      .g-bar

        .g-label

          .label-text
            fill $white

          .label-text-plus
            fill $off-black !important
            visibility: visible;

          &.narrow

            .label-text-plus
              visibility hidden
    .g-axis
      .domain
        display none

      .tick
        line
          stroke $gray-light
          stroke-width 1px
          stroke-dasharray 5px 5px
        text
          set-type-size('xx-small', true)
          font-family Atlas Grotesk, sans-serif
          fill $gray
          text-transform uppercase
