.sideEffects

  .graphic
    margin 0 auto
    max-width 50rem

    .container
      display flex
      flex-wrap wrap
      justify-content: space-around;
      margin 1rem

      .chart
        max-width 350px
