/* CUSTOM STORY STYLE */
.graphic
  &-title
    font-family Atlas Grotesk, sans-serif
    color $primary
    font-weight 600
    font-size 16px
    margin 0

  &-sub
    font-family Atlas Grotesk, sans-serif
    color $gray
    font-weight 300
    set-type-size('small', true)
    text-transform uppercase
    margin 0 0 1rem 0
