/* CUSTOM STORY STYLE */
.graphic
  &-title
    font-family Atlas Grotesk, sans-serif
    color $primary
    font-weight 600
    font-size 16px
    margin 0
    padding 0 1rem

  &-sub
    font-family Atlas Grotesk, sans-serif
    color $gray
    font-weight 300
    set-type-size('x-small', true)
    text-transform uppercase
    margin 0 0 1rem 0
    padding 0 1rem

  &-half-title
      font-family Atlas Grotesk, sans-serif
      color $primary
      font-weight 600
      font-size 16px
      margin 0
      padding 0

  &-half-sub
    font-family Atlas Grotesk, sans-serif
    color $gray
    font-weight 300
    set-type-size('x-small', true)
    text-transform uppercase
    margin 0 0 1rem 0
    padding 0
