<div class='clippy'>
  <div class='clippy-dim'></div>
  <div class='clippy-character hiding'>@@include('clippy.svg')</div>
  <div class='clippy-info'>
    <div class='info-container'>
        <div class='close-info'>@@include('x.svg')</div>

        <p class='info-title'></p>
        <img data-src=""></img>
        <div>
          <p class='info-description'></p>
          <div>
            <p class='info-sub'>Effectiveness</p>
            <p class='info-prose info-prose-eff'></p>
          </div>
          <div>
            <p class='info-sub'>How It Works:</p>
            <p class='info-prose info-prose-how'></p>
          </div>
      </div>
    </div>
  <div class='clippy-speech'></div>
</div>
