<div class='clippy'>
  <div class='clippy-dim'></div>
  <div class='clippy-character hiding'>@@include('clippy.svg')</div>
  <div class='clippy-info'></div>
  <div class='clippy-speech'></div>
</div>
