<div class='firstTime'>
  <div class='firstTime-text'>
    <h3 class='section-sub'>{{{copy.firstTime-sub}}}</h3>
    <p class='prose'>{{{copy.firstTime-text}}}</p>
  </div>

  <div class='graphic-half'>
  </div>
</div>
