<section class='multiple_methods'>
  <h3 class='section-hed'>{{copy.multiple_hed}}</h3>
  <p class='prose'>{{{copy.multiple_intro}}}</p>

  <div class='graphic'>
    <p class='graphic-title'>{{copy.multiple_chartT}}</p>
    <p class='graphic-sub'>{{copy.multiple_chartS}}</p>
    <div class='legend'>
      <p class='legend-title'>Method Effectiveness</p>
      <div class='legend-items'>
        <div class='legend-item legend-item-1'>
          <p class='legend-item_text'>72 - 87%</p>
        </div>
        <div class='legend-item legend-item-2'>
          <p class='legend-item_text'>88 - 98%</p>
        </div>
        <div class='legend-item legend-item-3'>
          <p class='legend-item_text'>>99%</p>
        </div>
      </div>
    </div>
    <div class='container container-multiple'>
    </div>
  </div>
</section>
