<section class='multiple_methods'>
  <h3 class='section-hed'>{{copy.multiple_hed}}</h3>
  <p class='prose'>{{{copy.multiple_intro}}}</p>

  <div class='graphic'>
    <p class='graphic-title'>{{copy.multiple_chartT}}</p>
    <p class='graphic-sub'>{{copy.multiple_chartS}}</p>
    <div class='container container-multiple'>
    </div>
  </div>
</section>
